name: Build and publish Kodi image

on:
  push:
    branches:
      - master
      - dev-master
    paths:
      - .github/workflows/publish-kodi-example.yml
      - 'examples/kodi/**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        release:
          - bullseye-slim
          - bookworm-slim
          - trixie-slim
        include:
          -
            latest: false
          -
            latest: true
            release: trixie-slim
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        uses: kyzima-spb/gh-actions/.github/actions/docker-build-image@master
        with:
          context: ./examples/kodi/root
          file: ./examples/kodi/Dockerfile
          images: |
            {ghcr:kodi}
          build-args: |
            RELEASE=${{ matrix.release }}
          tags:
            ${{ matrix.release }}
          flavor: |
            latest=${{ matrix.latest }}
          cache: |
            arg=default,repo=kodi,version=buildcache-${{ matrix.release }}
          push: ${{ github.ref_name == 'master' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
