on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
    outputs:
      matrix:
        value: ${{ jobs.read.outputs.matrix }}

jobs:
  read:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.read.outputs.content }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Read matrix from json file
        id: read
        uses: juliangruber/read-file-action@v1
        with:
          path: ${{ inputs.path }}
